{% extends 'base.html.twig' %}

{% block main %}
    {{ parent() }}

    <div class="row">
        {% for car in cars %}
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <a href="{{ path('car_desc', {id: car.id}) }}"><img src="{{ asset('Resources/cars/') ~ car.image }}"></a>
                    <div class="caption">
                        <h4>{{ car.name }}</h4>
                        <p style="max-height: 3em; overflow: auto">{{ car.description }}</p>
                        <ul>
                            <li>Typ: {{ categories[car.categoryId-1].name }}</li>
                            <li>Paliwo: {{ car.parameters[0] }}</li>
                            <li>Miejsca: {{ car.parameters[1] }}</li>
                            <li>Nawigacja: {{ car.parameters[2] }}</li>
                            <li>Cena/dzień: {{ car.price }} zł</li>
                        </ul>
                        <div class="btn-group">
                            {% if available[loop.index0] %}
                                <div class="btn btn-success">Dostępny</div>
                            {% else %}
                                <div class="btn btn-danger">Niedostępny</div>
                            {% endif %}
                            <a href="{{ path('car_desc', {id: car.id}) }}" class="btn btn-primary">Sczegóły</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}