<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email z Symfony 3</title>
</head>
<body>
    <h1>Witaj {{ user }}!</h1>

    <p>Chcieliśmy poinformawać się o twoim zamówieniu na wypożyczenie samochodu {{ car }}.</p>
    <p>Twoje zamówienie zostało przyjęte!<br>Płatność gotówką, podczas odbioru samochodu. Wypożyczenie wymaga również kaucji w wysokośći kwoty wypożyczenia. Kaucja jest zwrotna po oddaniu samochodu.</p>
	<p>Szczegóły zamówienia:
    <ul>
        <li>Data wypożyczenia: {{ date }}</li>
        <li>Dostępny do: {{ expDate }}</li>
        <li>Cena za miesiąc: {{ price }} zł</li>
    </ul>
    </p>
    <p>Dziękujemy za zaufanie, pojazd mogą Państwo odebrać w siedzibie naszej firmy.</p>
    <p><a href="{{ absolute_url(path('login')) }}">Zaloguj się</a> na swoje konto, aby zarządzać zamówieniami.</p>
</body>
</html>